/* Fade in
------------------------------------------------------------*/
/*@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/

/* Slide in
------------------------------------------------------------*/
/*@-webkit-keyframes slide-fade {
  0% {
    margin-top: -10px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@-moz-keyframes slide-fade {
  0% {
    margin-top: -10px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}*/

.glue-container {
  opacity: 0;
}

.rendered {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
     -moz-transition: opacity .5s ease-in-out;
          transition: opacity .5s ease-in-out;
  /*-webkit-animation: slide-fade .5s 0 1 ease-out;
  -moz-animation: slide-fade .5s 0 1 ease-out;*/
}