<section id="examples" class="examples">
  <p class="section-header"><strong>Check out an example</strong> of prototype built on Glue to get an idea of what you can build. </p>
  <p><strong>This site is built on Glue</strong>. Normally, Glue is only meant for prototypes, not production deploys, but it just seemed right to use it here :) Every section is broken into an include that is rendered at runtime. Inspect this page and you can still see the shells for the Glue templates.</p>
  <p><strong>I'm working on a webapp example</strong> Don't have anythign designed and running yet, but I promise it will happen soon.</p>
</section>