<section id="get-started" class="get-started">
  <p class="section-header"><strong>Get started now</strong> with just 3 super simple steps:</p>
  <ol class="get-started-list">
    <li>
      <h5 class="subsection-header">1. Download or clone Glue</h5>
      <p>You can just <a href="https://github.com/dhgamache/Glue/zipball/master">download the project</a> with these docs or feel free to check out <a href="https://www.github.com/dhgamache/glue">the Github page</a> and clone it.</p>
    </li>
    <li>
      <h5 class="subsection-header">2. Run a server of any kind (don’t worry, it’s easy)</h5>
      <p>Unfortunately, all browsers consider AJAXing local files to be a security threat if not in a server environment. It’s super easy to solve this though. <strong>If you’re on a Mac</strong>, just open terminal, drag your prototype folder onto the terminal icon in your doc and run this command:</p>
<pre class="code-snippet short-bottom">
python -m SimpleHTTPServer
</pre>
    <p>Alternatively, turning on web sharing, using MAMP or any other server will work.  If you’re on a Windows machine...</p>
    </li>
    <li>
      <h5 class="subsection-header">3. Open your browser and go to your server address</h5>
      <p>However you set up your simple server, just point your browser at the appropriate localhost port and you should see the Glue docs. For reference, the standard python server URL will be localhost:8000.</p>
    </li>
  </ol>
</section>