<header class="page-header">
  <img class="logo" src="doc-assets/img/logo.png" alt="">
  <h2 class="main-heading">Beautiful prototyping.</h2>
  <h5 class="attribution">
  	<a href="#values">What it is</a>
  	<span class="text-divider">/</span>
  	<a href="#need-to-know">Using it</a>
  	<span class="text-divider">/</span>
  	<a href="#get-started">Getting started </a>
  	<span class="text-divider">/</span>
  	<a href="#examples">Examples</a>
  	<span class="text-divider">/</span>
  	<a href="#in-the-works">In the works</a>
 </h5>
</header>
<div class="top-noise"></div>