<section id="in-the-works" class="in-the-works">
  <p class="section-header"><strong>In the works.</strong> These are a few things I am still working on pulling together for Glue:</p>
  <p><strong>Exit class application</strong> primarily for "animating out" of Glue templates</p>
  <p><strong>Making the index URL accessible from the back button.</strong> Since there is no fragment to indicate template, Glue won't allow you to click "back" to the index.html page.</p>
  <p><strong>Add a data-paramater to Glue links to set the container.</strong> All Glue links right now assume to .glue-container as the wrapping element, but it would be nice to be able to set a different container.</p>
  <p><strong>Use with JS template compilers</strong>. This means you will be able to use syntax of your choice - for example Mustache, Dust or Jade. This will also mean you can mash data into your templates.</p>
  <p><s><strong>Callback after rendereding templates</strong> will allow for custom functions after a Glue template renders</s></p>
  <p><s><strong>Fix multiple render calls</strong> because it's just using uneccessary computing power and is sloppy. Fix it.</s></p>
</section>