<section id="need-to-know" class="need-to-know">
  <p class="section-header"><strong>Using Glue</strong> is super simple.</p>
  <ol class="need-to-know-list">
    <li>
      <h5 class="subsection-header">1. Glue-src is for partials</h5>
      <p>Use the “glue-src” attribute on any element to replace its content with HTML from the template you specifiy when the page loads.</p>
<pre class="code-snippet">
&lt;div data-glue-src=<span class="code-value">&quot;navbar&quot;</span>&gt;</div>
</pre>
    </li>
    <li>
      <h5 class="subsection-header">2. Glue-link is for links to new pages</h5>
      <p>Put a “glue-link” attribute on an anchor to clear the existing page and replace it with the new one you specify.</p>
<pre class="code-snippet">
&lt;a data-glue-link=<span class="code-value">”page2”</span>&gt;<span class="code-plain">Go to the next page</span>&lt;/a&gt;
</pre>
    </li>
    <li>
      <h5 class="subsection-header">3. The .glue-container and layout.html are important</h5>
      <p>Any content that is going to change from page to page will be loaded into the .glue-container, so leave it in your index.html. Your default template is layout.html at the top level directory.</p>
<pre class="code-snippet">
&lt;div class=<span class="code-value">&quot;glue-container&quot;</span>&gt;&lt;/div&gt;</span>
</pre>
    </li>
  </ol>
</section>