<section class="values">
  <p class="section-header"><strong>Glue.js</strong> is for creating quick, beautiful prototypes. Here’s why it’s awesome:</p>
  <ul class="value-list">
    <li>
      <img class="value-graphic" src="doc-assets/img/value-partial.png" alt="">
      <div class="value-desc">
        <h5 class="subsection-header">HTML partials served up with AJAX</h5>
        <p>Glue lets you break up your markup into external HTML files for better organization, much like you would with CSS or JS. That means you can organize your HTML however you like, plus run and share it with just JS. No need for PHP, a Node server or anything like that.</p>
      </div>
    </li>
    <li>
      <div class="value-desc">
        <h5 class="subsection-header">Persistant single-page style</h5>
        <p>Clicking from page to page in a Glue prototype all works without page refreshes, meaning you can use CSS to add transitions between pages. Don’t worry, you still have working, sensable URLs even though the whole prototype is technically on one page.</p>
      </div>
      <img class="value-graphic" src="doc-assets/img/value-seamless.png" alt="">
    </li>
    <li>
      <img class="value-graphic" src="doc-assets/img/value-size.png" alt="">
      <div class="value-desc">
        <h5 class="subsection-header">It’s stupid fast, easy and lightweight</h5>
        <p>Link up a single 1.5kb JS file (plus an optional 1kb CSS file) and you’re ready to go. The syntax was designed for semantic simplicity, so it’s extremely easy to understand. </p>
      </div>
    </li>
  </ul>
</section>