<h2>Issues</h2>
<ul>
  <li><s>Put templates anywhere but still always render from top level</s></li>
  <li><s>Hit actual URLs for the templates</s></li>
  <li><s>History push and pull working</s></li>
  <li><s>Render all at once, not as each piece of sub-template comes in</s></li>
  <li><s>Else statement in renderTemplate should only run if !null, but sometimes still gets to that point?</s></li>
  <li>Base URL doesn't work with routing</li>
  <li>The mutliple calls to renderTemplate and routeToTemplate</li>
</ul>